.container{
  min-width: 80%;
  min-height: 90%;
  max-height: 90%;
  margin-left: 10%;
  margin-top: 5%;
  background-color: #0099CC;
  float: left;
}
.slide{
  width: 96%;
  height: 90%;
  border: 2px dotted black;
  margin-left: 2%;
}
.slide:nth-child(2n-1){
  background-color: #66CCFF;
}
.slide:nth-child(2n){
  color: white;
  background-color: #003333;
}
navigation{
  width: 50%;
  height: 30px;
  float:left;
  margin-left: 25%;
}
.nav-list{
  width: 100%;
}
.nav-list li{
  display: inline;
}
